/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --background-image: url(../images/cover-image-dark.png);
  /* цвета темы */
  --background-color: #000028;
  --accent-color: #ff0070; /* для текста навигации, уголков, тени, пр. */
  --main-title-color: #db00ff; /* no focus */
  --title-color: #ff0070; /* цвет заголовка */
  --subtitle-color: #000028; /* цвет подзаголовка */
  --subtitle-background-color: #ff0070; /* цвет фона подзаголовка */
  --link-shadow-color: #ff0070;
  --text-color: #f1b2ce; /* цвет основного текста */
  --button-border-color: #ff0070;
  --hover-button-border-color: rgba(
    255,
    0,
    112,
    0.4
  ); /* цвет границы кнопки в hover */
  --rec-icon-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url(../images/cover-image-dark.png);
    /* цвета темы */
    --background-color: #000028;
    --accent-color: #ff0070; /* для текста навигации, уголков, тени, пр. */
    --main-title-color: #db00ff; /* no focus */
    --title-color: #ff0070; /* цвет заголовка */
    --subtitle-color: #000028; /* цвет подзаголовка */
    --subtitle-background-color: #ff0070; /* цвет фона подзаголовка */
    --link-shadow-color: #ff0070;
    --text-color: #f1b2ce; /* цвет основного текста */
    --button-border-color: #ff0070;
    --hover-button-border-color: rgba(
      255,
      0,
      112,
      0.4
    ); /* цвет границы кнопки в hover */
    --rec-icon-visibility: visible;
  }
}
