/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

/* ТЁМНАЯ ТЕМА */

:root {
  --background-image: url(../images/cover-image-dark.png);
  /* цвета темы */
  --background-color: #000028;
  --accent-color: #ff0070; /* для текста навигации, уголков, тени, пр. */ 
  --main-title-color: #db00ff; /* no focus */
  --title-color: #ff0070; /* цвет заголовка */
  --subtitle-color: #000028; /* цвет подзаголовка */
  --subtitle-background-color: #ff0070; /* цвет фона подзаголовка */
  --link-shadow-color: #ff0070;
  --text-color: #f1b2ce; /* цвет основного текста */
  --button-border-color: #ff0070;
  --hover-button-border-color: rgba(255, 0, 112, 0.40); /* цвет границы кнопки в hover */

  /* шрифт и размеры текста */
  --font-family: "IBM Plex Mono";
  --font-size: 18px;
  --font-weight: 400;
  --accent-font-weight: 700;
  --line-height: 130%; /* 23.4px */

  /* отсутпы */
  --min-gap: 10px;
  --max-gap: 20px;

  --rec-icon-visibility: visible; 
} 
